<launch>

	<arg name="rosbag_enabled" default="false"/>
	<arg name="rosbag_prefix_url" default="/tmp"/>

	<arg name="operation_name" default="coenhaven"/>

	<arg name="coordinator_mission_action_server" default="coordinator_mission_action_server"/>

	<node name="mission_coordinator_client" pkg="nautonomous_mission_coordinator" type="mission_coordinator_client.py" output="screen">
		<param name="operation_name" value="$(arg operation_name)"/>

		<remap from="coordinator_mission_action_server" to="$(arg coordinator_mission_action_server)"/>
	</node>

</launch>
